@model IEnumerable<BookStore.Models.Bill>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.delivered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nameCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deliveryAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deliveryForm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.delivered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deliveryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nameCustomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deliveryAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deliveryForm)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.billID }) |
            @Html.ActionLink("Details", "Details", new { id=item.billID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.billID })
        </td>
    </tr>
}

</table>
