@model IEnumerable<BookStore.Models.DetailsOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bill.nameCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bill.nameCustomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.index }) |
            @Html.ActionLink("Details", "Details", new { id=item.index }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.index })
        </td>
    </tr>
}

</table>
