@model BookStore.Models.BookWriting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookWriting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.author.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.book.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.index }) |
    @Html.ActionLink("Back to List", "Index")
</p>
