@model IEnumerable<BookStore.Models.BookWriting>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.author.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.role)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.author.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.role)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.index }) |
            @Html.ActionLink("Details", "Details", new { id=item.index }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.index })
        </td>
    </tr>
}

</table>
